.modal-content {
  position: absolute;
  top: 100px;
  box-shadow: 2px 5px 61px 0px rgb(197, 193, 197);
  background-color: #e7e8ec;
}

.title {
  font-size: 30px;
}

.modal-body {
  font-size: 20px;
}

.theme-title {
  margin: 10px;
}

.radio {
  margin-right: 30px;
  text-align: center;
}

#username {
  text-align: center;
}

#user {
  font-size: 30px;
  font-weight: bold;
}

#modal-btn,
#start {
  font-size: 20px;
  border: 2px solid rgb(143, 141, 141);
  padding: 5px 20px;
}

#modal-btn:hover,
#start:hover {
  border-radius: 20px;
  background: rgb(161, 243, 161);
  transition: all 0.3s;
  
}
