body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

h4 {
  display: inline-block;
}
/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.row {
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(143, 141, 141);
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.flip {
  background-color: rgb(71, 143, 226);
  transition: all 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.match {
	background: lightgreen;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.different {
  background: lightcoral;
}

.disabled {
  background-color: rgb(143, 141, 141);
  transition: all 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}