body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

h4 {
  display: inline-block;
}

.row {
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: rgb(143, 141, 141);
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.hide {
  transition: all 0.8s;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.flip {
  background: rgb(71, 143, 226);
  transition: all 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.match {
  background: lightgreen;
  transition: all 1s;
}

.different {
  background: lightcoral;
  transition: all 1s;
}

#new-game, #modal-btn {
  font-size: 20px;
  border: 2px solid rgb(143, 141, 141);
  margin: 5px;
}
